data
data2
readme.md
*.exe

.git
node_modules
dist
*.log
*.env
.DS_Store

internal/ui/node_modules
internal/ui/npm-debug.log
internal/ui/pnpm-lock.yaml
internal/ui/pnpmfile.js
internal/ui/yarn.lock
internal/ui/.DS_Store
internal/ui/*.log