services:

  init-perms:
    image: alpine
    command: ["sh", "-c", "chown -R 1000:1000 /data"]
    volumes:
      - app-data:/data
    user: root
    restart: "no"
  
  feature-fairway:
    image: ghcr.io/liukonen/flagfairway:latest
    command: /app/app
    restart: unless-stopped
    volumes:
    - 'flag-data:/app/data'
    ports:
      - 8411:8080
volumes:
  flag-data:
