version: '3.3'
services:
  feature-fairway:
    build:
      context: .
      dockerfile: dockerfile
      labels:
      - "com.centurylinklabs.watchtower.enable=false"
    command: /app/app
    restart: unless-stopped
    volumes:
    - './data:/app/data'
    ports:
      - 8080:8080